.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  background-color: #eee;
}

.wrapper > * {
  flex: 1 100%;
}

.footer {
  order: 3
}

.main {
  text-align: left;
  order: 2;
}

.aside-1 {
  order: 1;
}

@media all and (min-width: 37.5em) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 50em) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}

.Header {
  background-color: #fff;
  font-size: 1.25em;
  border: 1px #07b solid;
}
