.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

.footer {
  order: 3
}

.main {
  text-align: left;
  order: 2;
}

.aside-1 {
  order: 1;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
