.PostModal {
  background-color: #fff;
  border: 1px solid #07b;
  border-radius: 2px;
  max-height: 90%;
  font-size: 14px;
  left: 100px;
  outline: none;
  overflow: auto;
  padding: 0px 20px 20px 20px;
  position: absolute;
  right: 100px;
  top: 40px;
}


@media screen and (max-width: 800px) {
  .PostModal {
    bottom: 260px;
    left: 10px;
    right: 10px;
  }
}

.PostModal__Close {
  border: 0;
  padding: 0;
  border-radius: 3em;
}

.PostModal__Add {
  width: 100%;
  background-color: #fff;
  border: 0;
}

.PostModal__FormGroup {
  margin-bottom: 1em;
}

.PostModal__Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PostModal__Footer {
  display: flex;
  justify-content: space-between;
}

.PostModal__Footer button {
  background-color: #fff;
  border: 2px #07b solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}
