.CommentModal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  left: 20px;
  max-height: 90%;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 800px) {
  .CommentModal {
    left: 20px;
    right: 20px;
  }
}
