.Aside_Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Aside_Item {
  background-color: #fff;
  border: 1px #07b solid;
  color: #07b;
  cursor: pointer;
  font-size: 40px;
}

.Aside_Item-NavLink {
  text-decoration: none;
  color: #07b;
}

.Aside_Item-NavLink p {
  border-bottom: 2px #fff solid;
}

.Aside_Item-NavLink:hover {
  color: orange;
}

.Aside_Item-NavLink:hover p {
  border-bottom: 2px #07b solid;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .Aside_Menu {
    background-color: #07b;
    flex-direction: row;
  }

  .Aside_Item {
    color: #07b;
    font-size: 14px;
    padding: 0 1em;
  }
}
